body {
	background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("./../img/BreadBasket.jpeg"), center no-repeat fixed;
	background-size: cover;
	font-family: 'Gill Sans';
	font-size: larger;
	color: rgb(94, 71, 106);
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:rgb(94, 71, 106);
	background:rgba(130, 173, 212, 0.5);
	padding:8px;
	text-align: center;
}

div#main-body {
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

div#splash-intro {
	text-align: center;
}

div#nav-links {
	text-align: center;
}

a {
	color: rgb(94, 71, 106);
}

a:hover {
	color: darkcyan;
}

input[type=text] {
  width: 300px;
  height: 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-image: linear-gradient(rgb(174, 213, 217),rgb(241, 238, 227));
  border: none;
}

input[type=password] {
  width: 300px;
  height: 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-image: linear-gradient(rgb(174, 213, 217),rgb(241, 238, 227));
  border: none;
}

input[type=text]:focus {
  width: 30%;
}

input[type=password]:focus {
  width: 30%;
}